# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/

# Vector Store (too large for GitHub)
backend/db_v2_final_final/
